body{
    background: linear-gradient(90deg, #0F2027, #203A43);
    background-size: 800% 800%;
    animation: gradientBG 6s ease-in-out infinite;
    font-family: Arial, sans-serif;
    text-align:center;
}

@keyframes gradientBG {
    0% {background-position:0% 50%}
    50% {background-position:100% 50%}
    100% {background-position:0% 50%}
}

h1{
    color:#f4e4ff
}

p {
    color: #f4e4ff46;
    font-size: 1.2rem;
    margin: 16px 0;
}

a{
    color: #f4e4ff;
    text-decoration: none;
    font-size: 1.2rem;
}

a:hover {
    color: #ffc64b;
}

img{
    border-radius:24px;
}

button {
    background-color: #00000031;
    color: #ffc64b;
    border: none;
    padding: 12px 24px;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.2s;
    margin: 16px 0;
}

button:hover {
    background-color: #ffc64b;
    color: #0F2027;
}